.App{
  display: flex;
  justify-content: center;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
border-bottom: 1px solid black;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.532);
}


.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.49);
}
h1{
  font-weight: 100;
}
.ViewUserSide{
  margin-left:4rem ;
 
}
.tabelparent{
  height: 35rem;
  overflow: overlay;
  width: 27rem;
}
button{
  width: 4.5rem;
  height: 1.75rem;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
background-color: rgb(255, 255, 255);
border: 1px solid gray;
font-weight: bold;
cursor: pointer;
}

.edituser{
  width: 5rem;
  color: aliceblue;
  font-weight: 500;
  margin-right: 5px;
  background-color: rgb(92, 178, 231);
}
input{
  width: 14rem;
  height: 1.75rem;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: .9rem;
}
.edituserdisabel{
  width: 5rem;
  color: aliceblue;
  font-weight: 500;
  margin-right: 5px;
   cursor: no-drop;
  background-color: rgba(93, 94, 96, 0.533);
}